:root {
	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);
	--transparent-white: hsla(0, 0%, 100%, 0.75);
	--very-light-gray: hsl(0, 0%, 95%);
	--lexend-font: 'Lexend Deca', sans-serif;
	--big-shoulders-d-font: 'Big Shoulders Display', cursive;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: auto;
	font-size: 0.938rem;
	background-color: var(--very-light-gray);
}

.cards-container {
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	overflow: hidden;
	margin: 4rem 1rem;
}

.sedans-card {
	background-color: var(--bright-orange);
	padding: 3.25rem;
}
.suvs-card {
	background-color: var(--dark-cyan);
	padding: 3.25rem;
}
.luxury-card {
	background-color: var(--very-dark-cyan);
	padding: 3.25rem;
}

.card-heading {
	font-family: var(--big-shoulders-d-font);
	font-weight: 600;
	font-size: 2.55rem;
	color: var(--very-light-gray);
	text-transform: uppercase;
}
.card-content {
	font-family: var(--lexend-font);
	color: var(--transparent-white);
	line-height: 1.75rem;
	opacity: 87%;
	margin-bottom: 1.75rem;
}

.sedans-card > button {
	color: var(--bright-orange);
}
.suvs-card > button {
	color: var(--dark-cyan);
}
.luxury-card > button {
	color: var(--very-dark-cyan);
}
button {
	font-family: var(--lexend-font);
	background-color: var(--very-light-gray);
	text-transform: capitalize;
	padding: 0.9rem 2.2rem;
	border: 1px solid transparent;
	border-radius: 1.75rem;
	font-weight: bold;
	font-size: 0.97rem;
}
button:hover {
	border: 1px solid var(--very-light-gray);
	background-color: transparent;
	color: var(--very-light-gray);
	cursor: pointer;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* The Challenge Provide a Breakpoint at 375px for mobile
I prefer 768 and below for mobile-tablet and above for desktop
I can add more precise breakpoints but this is just a practice */
@media screen and (min-width: 768px) {
	.cards-container {
		flex-direction: row;
		margin: 4rem 2rem;
	}
}
@media screen and (min-width: 1024px) {
	.cards-container {
		flex-direction: row;
		margin: 4rem 10rem;
	}
}
